RewriteEngine On

# Rediriger accueil.php vers /home
RewriteRule ^home$ accueil.php [L]

# Rediriger login.php vers /login
RewriteRule ^login$ login.php [L]

# Rediriger backend.php vers /admin
RewriteRule ^admin$ backend.php [L]

# Rediriger blog.php vers /blog
RewriteRule ^blog$ blog.php [L]

# Rediriger backend.php vers /nous
RewriteRule ^nous$ apropos.php [L]

# Rediriger quizz.php vers /quizz
RewriteRule ^quizz$ quizz.php [L]

# Définir acceuil.php comme la page par défaut
DirectoryIndex accueil.php
