RewriteEngine On

# Rediriger l'accueil.php vers /home
RewriteRule ^home$ accueil.php [L]

# Rediriger le login.php vers /login
RewriteRule ^login$ login.php [L]

# Rediriger le backend.php vers /admin
RewriteRule ^admin$ backend.php [L]

# Rediriger le backend.php vers /blog
RewriteRule ^blog$ blog.php [L]

# Rediriger le backend.php vers /nous
RewriteRule ^blog$ apropos.php [L]

# Rediriger le backend.php vers /quizz
RewriteRule ^quizz$ quizz.php [L]