header{
    background-color: #047857;
    color : white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
}

footer{
    background-color: #047857;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
}